<%= turbo_frame_tag "modal" do %>
  <dialog open>
    <article>
        <%= form_with model: multi_unit_property, url: property_path(multi_unit_property), method: :patch do |f| %>
            <%= f.hidden_field :type, value: 'MultiUnitProperty' %>

            <label>
            Name
            <%= f.text_field :name, required: true, placeholder: "Complex name" %>
            </label>

            <label>
            Address
            <%= f.text_field :address, required: true, placeholder: "Street address" %>
            </label>

            <div class="grid">
            <label>
                City
                <%= f.text_field :city, required: true, placeholder: "City" %>
            </label>

            <label>
                State
                <%= f.text_field :state, required: true, placeholder: "State" %>
            </label>
            </div>

            <label>
            Country
            <%= f.text_field :country, required: true, placeholder: "Country" %>
            </label>

            <footer>
            <%= f.submit "Update Complex", role: "button" %>
            <button type="button" data-action="click->manager-dashboard#closeModal" class="secondary">
                Cancel
            </button>
            </footer>
        <% end %>
    </article>
  </dialog>
<% end %>
