<article class="property-card single-unit">
  <h3><%= single_unit_property.name %> (Single Unit)</h3>
  <p><%= single_unit_property.address %>, <%= single_unit_property.address_extension %></p>
  <p><%= single_unit_property.city %>, <%= single_unit_property.state %></p>
</article>
